/* combined bolt design */
#R7_kombi_side_view {
    display: inline-block;
}
#R7_kombi_side_head {
    background-color: black;
    width: 30px;
    height: 15px;
    margin-left: 3px;
}
#R7_kombi_side_mid {
    background-color: black;
    width: 12px;
    height: 1px;
    margin-left: 12px;
}
#R7_kombi_side_washer {
    background-color: black;
    width: 36px;
    height: 4px;
}
#R7_kombi_side_body {
    background-color: black;
    width: 12px;
    height: 20px;
    margin-left: 12px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#R7_kombi_top_view {
    display: inline-block;
}
#R7_kombi_top_washer {
    height: 45px;
    width: 45px;
    background-color: grey;
    border-radius: 50%;
    position: relative;
}
#R7_kombi_top_head {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0px 0px -18px;
}
#R7_kombi_top_head_up {
    width: 0;
    border-bottom: 10px solid black;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;

}
#R7_kombi_top_head_mid {
    width: 36px;
    height: 20px;
    background-color: black;
}
#R7_kombi_top_head_down {
    width: 0;
    border-top: 10px solid black;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
}
#R7_kombi_top_torx{
    position: absolute;
    height: 28px;
    width: 28px;
    top: 50%;
    left: 50%;
    margin: -14px 0px 0px -14px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}
#R7_kombi_top_torx_symbol {
    position: absolute;
    margin: -2px 0px 0px 5px;
    color: lightgrey;
}

/* small nut design with James Tauber method */
#R7_s_nut_top_view {
    display: inline-block;
}
#R7_s_nut_outer_ring  {
    display: inline-block;
    height: 45px;
    width: 45px;
    background-color: black;
    border-radius: 50%;
    position: relative;
}
#R7_s_nut_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0px 0px -18px;
}
#R7_s_nut_up {
    width: 0;
    border-bottom: 10px solid grey;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;

}
#R7_s_nut_mid {
    width: 36px;
    height: 20px;
    background-color: grey;
}
#R7_s_nut_down {
    width: 0;
    border-top: 10px solid grey;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
}
#R7_s_nut_hole {
    position: absolute;
    height: 15px;
    width: 15px;
    top: 50%;
    left: 50%;
    margin: -7.5px 0px 0px -7.5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

#R7_s_nut_side_view {
    display: inline-block;
}
#R7_s_nut_side_view_press_washer {
    position: relative;
    border-top: 22.5px solid transparent;
    border-left: 14px solid black;
    border-bottom: 22.5px solid transparent;
}
#R7_s_nut_side_view_head {
    position: absolute;
    background-color: grey;
    width: 13px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin: -15px 0px 0px -9px;
    border-radius: 3px;
}